.body {
  box-sizing: border-box;
  
}

.container {
  width: 1349px;
  height: 5000px;
  margin: 0, auto;
  
}

.header {
  width: 1349px;
  height: 60px;
  background-color: rgb(9, 8, 12);
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}

li {
  display: inline;
}

li a:hover {
  color: #ffff;
}

.text {
  text-align: center;
  width: 1050px;
  height: 60px;
  word-spacing: 30px;
}

.logo {
  text-decoration: none;
  width: 120px;
  height: 50px;
  justify-content: center;
  text-align: center;
  border-radius: 10px;
  background-color: rgb(19, 19, 19);
}

.think {
  text-decoration: none;
  color: rgb(122, 122, 124);
  text-align: center;
  position: relative;
  top: 20px;
}

.imagine {
  width: 80px;
  height: 40px;
  position: relative;
  top: 7px;
}

.empty {
  height: 60px;
  width: 115px;
}

.main {
  width: 1349px;
  height: 4940px;
}

.first {
  width: 1349px;
  height: 650px;
}

.background {
  background: url(imagine/pretty-woman.png);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img_2 {
  width: 200px;
  height: 60px;
  top: 255px;
  left: 600px;
}

.lorem {
  color: #d1d0d1;
  font-size: 16px;
  width: 600px;
  height: 64px;
  
}

.buttons {
  width: 170px;
  height: 50px;
  top: 250px;
}

.btn {
  width: 400px;
  height: 60px;
  display: flex;
  gap: 30px;
  
}

.buttons_1 {
  width: 170px;
  height: 50px;
  background-color: #131313;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  
  
}

.buttons_2 {
  width: 170px;
  height: 50px;
  background-color: #131313;
  color: white;
  border: none;
  border-radius: 2px;
  font-size: 20px;
  
  
}

.btn :hover {
  background: #ff0036;
}

.second {
    width: 1349px;
    height: 650px;
    background-color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:50px;
    font-size: 16px;
}

.colortext { 
  color: #ff0036;
}

.block {
display: flex;
flex-direction: row;
width: 1348px;
height: 250px;
padding: 15px; 
}

.corner_l {
  
  width: 674px;
  height: 250px;
  display: flex;
  flex-direction: column;
}
.corner_r {
  width: 674px;
  height: 250px;
}
.hwo {
  width: 570px;
  height: 50px;
}